- pandas  
  - To clean and analyze data.  
  - Flatten JSON (json_normalize), read/write CSV, filter by placeCode (HBC/HBH/HSQ), concatenate DataFrames, select columns, handle missing values, save results.

In [1]:
import pandas as pd

df = pd.read_csv('../data/processed_sports_facilities_11.csv')
df.head()

,_id,bookingID,bookingDate,placeCode,timeSlot,bookingStatus,lastModifiedDate
0,63b1380f87456b94c60a393d,83943689,2022-12-31T16:00:00.000Z,HSQ1,11,O,2023-01-01T02:53:48.000Z
1,63b1380f87456b94c60a3949,83955369,2022-12-31T16:00:00.000Z,HSQ1~3,11,P,2023-01-01T02:53:48.000Z
2,62d692bd87456b94c67b7075,84083857,2022-12-31T16:00:00.000Z,HTEN5,15,O,2023-01-01T06:15:27.000Z
3,62d6928787456b94c677000f,83943701,2022-12-31T16:00:00.000Z,HSQ1,17,O,2023-01-01T06:32:35.000Z
4,62d6928887456b94c677237c,83955381,2022-12-31T16:00:00.000Z,HSQ1~3,17,P,2023-01-01T06:32:35.000Z

In [2]:
# Filter out rows whose placeCode contains "HBC"
hbc_df = df[df['placeCode'].str.contains("HBC", na=False)]

# Filter out rows whose placeCode contains "HBH"
hbh_df = df[df['placeCode'].str.contains("HBH", na=False)]

In [3]:
hbc_df.tail()

,_id,bookingID,bookingDate,placeCode,timeSlot,bookingStatus,lastModifiedDate
611246,6591ac4cd220434423fe8bba,85299343,2023-12-31T16:00:00.000Z,HBC2,14,O,2023-12-31T16:10:55.000Z
611247,659200b5d22043442311bb19,85358109,2024-01-06T16:00:00.000Z,HBC6,21,O,2023-12-31T17:19:49.000Z
611248,659200b5d22043442311bb23,85346397,2024-01-06T16:00:00.000Z,HBC5~8,21,P,2023-12-31T17:19:49.000Z
611249,659200b5d22043442311bb27,85346399,2024-01-06T16:00:00.000Z,HBC5~8,22,P,2023-12-31T17:19:49.000Z
611250,659200b5d22043442311bb2d,85358111,2024-01-06T16:00:00.000Z,HBC6,22,O,2023-12-31T17:19:49.000Z

In [4]:
# Concatenate hbc_df and hbh_df
badminton_df = pd.concat([hbc_df, hbh_df])
badminton_df.head()

,_id,bookingID,bookingDate,placeCode,timeSlot,bookingStatus,lastModifiedDate
7,63b1514e87456b94c60b632c,84235775,2023-01-02T16:00:00.000Z,HBC3,22,O,2023-01-01T07:10:48.000Z
8,63b1514e87456b94c60b6335,84235773,2023-01-02T16:00:00.000Z,HBC3,21,O,2023-01-01T07:10:48.000Z
13,62d692f387456b94c67fc97f,84282419,2022-12-31T16:00:00.000Z,HBC6,16,O,2023-01-01T08:17:45.000Z
14,62d6930d87456b94c681db71,84306005,2023-01-07T16:00:00.000Z,HBC8,17,O,2023-01-01T09:08:13.000Z
15,62d6930d87456b94c681db75,84306007,2023-01-07T16:00:00.000Z,HBC8,18,O,2023-01-01T09:08:13.000Z

In [5]:
badminton_df['placeCode'].unique()

array(['HBC3', 'HBC6', 'HBC8', 'HBC4', 'HBC', 'HBC5', 'HBC5~8', 'HBC2',
       'HBC1', 'HBC7', 'HBH'], dtype=object)

In [6]:
badminton_df.to_csv('../data/badminton_df.csv', index=False)

In [7]:
hsq_df = df[df['placeCode'].str.contains("HSQ", na=False)]
hsq_df.head()

,_id,bookingID,bookingDate,placeCode,timeSlot,bookingStatus,lastModifiedDate
0,63b1380f87456b94c60a393d,83943689,2022-12-31T16:00:00.000Z,HSQ1,11,O,2023-01-01T02:53:48.000Z
1,63b1380f87456b94c60a3949,83955369,2022-12-31T16:00:00.000Z,HSQ1~3,11,P,2023-01-01T02:53:48.000Z
3,62d6928787456b94c677000f,83943701,2022-12-31T16:00:00.000Z,HSQ1,17,O,2023-01-01T06:32:35.000Z
4,62d6928887456b94c677237c,83955381,2022-12-31T16:00:00.000Z,HSQ1~3,17,P,2023-01-01T06:32:35.000Z
70,63b2673b87456b94c617cc05,83978769,2023-01-01T16:00:00.000Z,HSQ3,15,O,2023-01-02T03:24:44.000Z

In [8]:
hsq_df.to_csv('../data/hsq_df.csv', index=False)